body {
    background-color: darkgray;
}

.header {
    font-family: Arial;
    font-size: calc(2.5vw);
    font-weight: bold;
    text-align: center;
}

section.project-preview {
    display: grid;
    grid-template-rows: auto;
    margin: 2vw 0 0 0;
    grid-template-columns: 25% 25% 25% 25%;
}

section div {
    background-color: lightgray;
    width: 1fr;
    height: calc(24 * 1vw);
    margin-left: calc(1.1vw);
    margin-right: calc(1.1vw);
    border: 2px solid;
    border-radius: 10px;
}

.image-holder {
    vertical-align: top;
    max-width: 80%;
    max-height: 50%;
    align-content: center;
    border: none;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.preview-header {
    font-family: Arial;
    font-size: calc(1.5vw);
    font-weight: bold;
    text-align: center;
    margin-top: calc(0.5vw);
    margin-bottom: calc(0.5vw);
}

.preview-paragraph {
    font-family: Arial;
    font-size: calc(1.3vw);
    margin-top: auto;
    margin-left: calc(1vw);
    margin-right: calc(1vw);
}

.button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: calc(2vw);
}

button {
    background-color: lightgray;
    color: rebeccapurple;
    border-style: solid;
    border-radius: 60px;
    border-color: rebeccapurple;
    border-width: 3px;
    cursor: pointer;
    font-size: calc(1vw);
    font-weight: bold;
    transition: width 0.25s ease, height 0.25s ease, border-color 0.25s ease, background-color 0.25s ease;
    font-family: Arial;
    white-space: normal;
    height: calc(2vw);
}

    button:hover {
        background-color: rebeccapurple;
        color: lightgray;
        border-color: lightgray;
    }

.smallbutton {
    width: calc(10vw);
}

.bigbutton {
    width: calc(16vw);
}

section.models {
    display: grid;
    grid-template-rows: auto;
    margin: 2vw 0 0 0;
    grid-template-columns: 25% 25% 25% 25%;
    border: none;
}

    section.models div {
        background-color: darkgray;
        vertical-align: top;
        width: 1fr;
        height: calc(22vw);
        align-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

section.trash-can {
    display: grid;
    grid-template-rows: auto;
    margin: 2vw 0 0 0;
    grid-template-columns: 33% 34% 33%;
    border: none;
}

    section.trash-can div {
        background-color: darkgray;
        vertical-align: top;
        width: 1fr;
        height: calc(22vw);
        align-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
